<p id="notice"><%= notice %></p>

<p>
  <strong>Task name:</strong>
  <%= @task.task_name %>
</p>

<p>
  <strong>Command line:</strong>
  <%= @task.command_line %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @task.tenant_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
