<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @contact.vendor_id %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @contact.tenant_id %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @contact.sponsor_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
