<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vendor_name %><br>
    <%= f.text_area :vendor_name %>
  </div>
  <div class="field">
    <%= f.label :transfer_id %><br>
    <%= f.number_field :transfer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
