<%= form_for(@credential) do |f| %>
  <% if @credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credential.errors.count, "error") %> prohibited this credential from being saved:</h2>

      <ul>
      <% @credential.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_area :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_area :password %>
  </div>
  <div class="field">
    <%= f.label :basedir %><br>
    <%= f.text_area :basedir %>
  </div>
  <div class="field">
    <%= f.label :transfer_id %><br>
    <%= f.number_field :transfer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
