<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credential.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @credential.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @credential.password %>
</p>

<p>
  <strong>Basedir:</strong>
  <%= @credential.basedir %>
</p>

<p>
  <strong>Transfer:</strong>
  <%= @credential.transfer_id %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
