<p id="notice"><%= notice %></p>

<h1>Listing Log Records</h1>

<table>
  <thead>
    <tr>
      <th>Log file</th>
      <th>Success code</th>
      <th>Attachment</th>
      <th>Task start time</th>
      <th>Task end time</th>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log_records.each do |log_record| %>
      <tr>
        <td><%= log_record.log_file %></td>
        <td><%= log_record.success_code %></td>
        <td><%= log_record.attachment %></td>
        <td><%= log_record.task_start_time %></td>
        <td><%= log_record.task_end_time %></td>
        <td><%= log_record.task_id %></td>
        <td><%= link_to 'Show', log_record %></td>
        <td><%= link_to 'Edit', edit_log_record_path(log_record) %></td>
        <td><%= link_to 'Destroy', log_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log record', new_log_record_path %>
